<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}Fletch Rydell{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/defaulthtml/css.css" type="text/css">
  <script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
    function toggleDark() {
      if (document.documentElement.classList.contains('dark')) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
    }
  </script>
  {% endblock head %}
</head>

<body class="font-serif dark:bg-zinc-900 dark:text-zinc-200">
  {% block header %}
  <header class="font-sans mx-auto bg-sky-800 text-white text-center">
    <h1 class="text-5xl font-bold tracking-wide pt-14">{% block header_title %}{% endblock %}</h1>
    <p class="text-xl p-5 pb-10 font-thin tracking-wide">{% block header_subtitle %}{% endblock %}</p>
  </header>
  {% endblock header %}
  
  <nav class="sticky top-0 w-full p-2 bg-sky-800 flex flex-row font-light font-sans text-white">
    <a href="/" class="p-2 hover:text-sky-300">Home</a>
    <a href="/#projects" class="p-2 hover:text-sky-300">Projects</a>
    <span class="flex-1"></span>
    <a href="/themes" class="p-2 hover:text-sky-300">Change Theme</a>
    <span class="basis-0 sm:basis-2"></span>
    <a onclick="toggleDark()" class="cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="5" class="fill-slate-300" />
        <path d="M 12 3 L 12 5 M 3 12 L 5 12 M 12 21 L 12 19 M 21 12 L 19 12
        M 7 7 L 5.5 5.5 M 17 7 L 18.5 5.5 M 7 17 L 5.5 18.5 M 17 17 L 18.5 18.5" class="stroke-slate-300" stroke-width="2" stroke-linecap="round"/>
        <path d="M 10 16 A 4.5 4.5 0 1 0 10 8 A 4.1 4.1 0 0 1 10 16" class="fill-slate-900" />
      </svg>
    </a>
  </nav>

  {% block content %}{% endblock content %}
</body>

</html>