{% extends "base.tera" %}
{% block title %}{{ post.title }} - {{ super() }}{% endblock title %}

{% block header_title %}{{ post.title }}{% endblock %}
{% block header_subtitle %}{{ post.date | split(pat="T") | first }}{% endblock %}

{% block content %}
  {{ content_html | safe }}
{% endblock content %}