<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}Fletch Rydell{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
  <link rel="alternate" type="application/atom+xml" href="/feed">
  <style>
    body {
      font-family: 'Titillium Web', sans-serif;
    }
  </style>
  <link rel="stylesheet" href="/fancyhtml/css.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  {% endblock head %}
</head>

<body class="bg-black text-white">
  {% block header %}
  <header class="mx-auto text-white text-center dark:bg-inherit">
    <h1 class="text-5xl font-bold tracking-wide pt-14" id="main-header">{% block header_title %}{% endblock %}</h1>
    <p class="text-xl p-5 pb-10 font-thin tracking-wide" id="main-subtitle">{% block header_subtitle %}{% endblock %}</p>
  </header>
  {% endblock header %}

  {% if not index_info %}
  <nav class="w-full p-2 flex flex-row font-light font-sans text-white">
    <a href="/" class="p-2 hover:text-sky-400">Home</a>
    <a href="/#projects" class="p-2 hover:text-sky-400">Projects</a>
    <span class="flex-1"></span>
    <a href="/themes" class="p-2 hover:text-sky-400">Change Theme</a>
  </nav>
  {% endif %}


  {% block content %}{% endblock content %}
</body>

</html>
