<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>{% block title %}Fletch Rydell{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/simplehtml/css.css" type="text/css">
  {% endblock head %}
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/version">Change Theme</a>
  </nav>
  {% block content %}{% endblock content %}
</body>

</html>