body {
    background-color: black;
    color: #e0eeee;
    font-family: sans-serif;
    line-height: 1.4;
}

body>header {
    text-align: center;
    margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0.1em;
}

p+p {
    margin-top: 1em;
}

a,
nav a:visited {
    color: #00aaee;
}

a:hover,
nav a:visited:hover {
    color: #33bbee;
}

a:visited {
    color: #aa55ee;
}

a:visited:hover {
    color: #bb66ee;
}

ul.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main,
section {
    margin: auto;
    max-width: 1200px;
}

section {
    padding: 1em 4em;
}

@media (max-width: 720px) {
    section {
        padding: 0.5em 1em;
    }
}

.project-info {
    margin: 1em 0em;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(240, 255, 255, 0.5);
    border-radius: 1em;
}

.project-info>h3 {
    font-size: 1.5em;
}

.project-info>* {
    margin: 0.75em 1.5em;
}

@media (max-width: 720px) {
    .project-info {
        margin: 0.5em 0em;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5em;
    }

    .project-info>h3 {
        font-size: 1em;
    }

    .project-info>* {
        margin: 0.5em;
    }
}

img {
    object-fit: cover;
}

.content-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 900px) {
    .content-section {
        flex-direction: column;
    }
}

.content-section img {
    margin: 0;
    padding: 0;
    width: 90%;
}

.bigitem-list>li {
    margin: 1.5em;
}

.bigitem-list>li>* {
    margin: 0.1em;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery>* {
    max-width: 720px;
    flex-basis: 360px;
    flex-grow: 1;
}